# Ignore node_modules
node_modules/

# Build output
build/

# Dependency directories
.cache/
coverage/

# Logs
*.log

# Environment variables
.env

# OS files
.DS_Store

# Editor files
.idea/
.vscode/
*.swp
